VITE_ADMIN_PASSWORD=sara-fran-admin
VITE_RSVP_API_URL=https://script.google.com/macros/s/AKfycbw5wHdYtMTTTlUPeAgYBom4HAZB2dmlxDZIkfu-zNEAuj0QiNaF7gd_nbb8b8PlTH61/exec
VITE_APP_STORAGE_PREFIX=wedding-template
VITE_ENABLE_MENU_MODULE=false
